@import "../../layouts/PublicLayout/Variable.scss";

.access-to-crypto {
  max-width: 1250px;
  margin: 0 auto;
  padding: 50px 0px;

  @include breakpoint(sm) {
    padding: 100px 0px;
  }
  .jumbotrom-component {
    .jumbotrom-header {
      order: 1;
    }

    .platform-body {
      align-self: center;
      .section-title {
        font-size: 22px;
        font-weight: 400;
        letter-spacing: 8.8px;
        line-height: normal;
        text-transform: uppercase;

        @include breakpoint(md) {
          font-size: 16px;
          font-weight: 400;
          letter-spacing: 8.8px;
          line-height: normal;
          text-transform: uppercase;
          text-align: center;
        }
      }
      .section-description {
        max-width: 415px;
        color: #0a134f;
        font-size: 45px;
        font-weight: 700;
        text-align: left;
        text-transform: uppercase;

        @include breakpoint(md) {
          color: #0a134f;
          font-size: 25px;
          font-weight: 800;
          line-height: 43.39px;
          text-align: center;
          text-transform: uppercase;
          margin: 0 auto;
        }
        @include breakpoint(lg) {
          font-size: 35px;
        }
        @include breakpoint(sm) {
          font-size: 30px;
        }
      }

      .section-text {
        opacity: 60%;
        color: #010101;
        font-size: 17px;
        font-weight: 400;
        line-height: 35px;
        text-align: left;

        @include breakpoint(md) {
          display: none;
        }
      }

      .section-button {
        width: 100%;
        max-width: 206px;
        height: 58px;
        display: block;
        margin: 50px 0;

        @include breakpoint(md) {
          display: none;
        }

        @extend %section-button;
      }
    }
  }

  .section-button-mobile {
    display: none;

    @extend %section-button;
    @include breakpoint(md) {
      width: 149px;
      height: 48px;
      display: block;
      margin: 0 auto;
    }
  }
}
