@import "../../layouts/PublicLayout/Variable.scss";

.testimonial-section {
    background-color: #f5f9ff;
    
.title {
    font-size: 22px;
font-weight: 400;
font-style: normal;
letter-spacing: 8.8px;
line-height: normal;
text-transform: uppercase;
text-align: center;
}

.description {
    color: #0a134f;
font-size: 50px;
font-weight: 700;
line-height: 60px;
text-align: center;
text-transform: uppercase;

@include breakpoint(md) {
    font-size: 30px;
    line-height: 45px;
}
}

}
