@import "../../layouts/PublicLayout/Variable.scss";

.select-language-component {
  button {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    background: transparent;
    border: none !important;
    border-radius: 5px;
    padding-left: 32px;
  }
  ul {
    display: block !important;
    overflow: hidden !important;
    width: 50px !important;
    margin: 0 auto !important;

    @include breakpoint(lg){
      width: 80% !important; 
    }
  }

  .ReactFlagsSelect-module_selectOptions__3LNBJ {
    max-height: none !important;
  }
  span {
    color: grey !important;
  }

  span:hover {
    color: #031530 !important;
    font-weight: 600;
  }

  li:hover {
    background: #3481f3;
    color: yellow !important;
  }

  .ReactFlagsSelect-module_label__27pw9 {
    display: none !important;

    @include breakpoint(lg){
      display: block !important;
    }
  }
  .ReactFlagsSelect-module_selectFlag__2q5gC {
    margin-left: 6px !important;
  }
}
