@import "../../layouts/PublicLayout/Variable.scss";

.buy-crypto-section {
  background-color: #f5f9ff;

  ::before {
    background-color: #cbdefd;
  }

  .platform-body {
    align-self: center;
    max-width: 1250px;
    margin: 0 auto;

    @include breakpoint(lg) {
      order: -1;
    }
    .section-text {
      max-width: 538px;
      opacity: 0.6;
      color: #010101;
      font-size: 17px;
      font-weight: 400;
      line-height: 35px;
      text-align: left;
      text-align: justify;

      @include breakpoint(md) {
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        margin: 20px auto;
      }

      @include breakpoint(lg) {
        font-size: 15px;
      }
    }

    .section-btn {
      text-decoration: none;
    }
    .section-button {
      width: 166px;
      height: 58px;
      display: block;

      @extend %section-button;

      @include breakpoint(md) {
        width: 131px;
        height: 45px;
      }

      @include breakpoint(md) {
        margin: 0 auto;
      }
    }

    .section-title {
      letter-spacing: 7.2px;
      color: #0a134f;
      font-size: 18px;
      font-weight: 400;
      line-height: inherit;
      text-align: left;
      text-transform: uppercase;

      @include breakpoint(lg) {
        font-size: 17px;
      }
      @include breakpoint(sm) {
        font-size: 14px;
      }

      @include breakpoint(md) {
        text-align: center;
        font-size: 13px;
      }
    }

    .section-description {
      color: #0a134f;
      max-width: 490px;
      font-size: 50px;
      font-weight: 700;
      line-height: 60px;
      text-align: left;
      text-transform: uppercase;

      @include breakpoint(sm) {
        font-size: 35px;
        line-height: 30px;
      }

      @include breakpoint(md) {
        text-align: center;
        margin: 0 auto;
      }

      @include breakpoint(lg) {
        font-size: 30px;
        line-height: 35px;
      }
    }
  }
}

@keyframes left {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}
