$textColorTitle: #1f1f1f;
$textColorDescription: #1e1e1e;
$buttonBackgroundColor: #000000;
$buttonTextColor: #ffffff;
$sideNavigationWidth: 260px;

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 320px) {
      @content;
    }
  } @else if $class == sm {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $class == md {
    @media (max-width: 992px) {
      @content;
    }
  } @else if $class == lg {
    @media (max-width: 1199px) {
      @content;
    }
  } @else if $class == xl {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $class == xxl {
    @media (min-width: 1800px) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: sm, md, lg";
  }
}

%navigationTitle {
  color: $textColorTitle;
  font-size: 17px;
  font-weight: 400;
  text-decoration: none;
}

%titleSection {
  font-size: 48px;
  font-weight: 700;
  line-height: 90px;
  color: $textColorTitle;

  @include breakpoint(sm) {
    font-size: 31px;
    line-height: 40px;
  }
}

%section-button {
  background-color: #ffffff;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 8px;
  color: #fff;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #3481f3 0%, #091d80 100%);
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    color: black;
    background-image: linear-gradient(to top, #f04e21 0%, #f8a02c 100%);
    transition: all 0.3s;
    z-index: -1;
  }
  &:hover {
    color: white;
    &:before {
      width: 100%;
    }
  }

  @include breakpoint(sm) {
    font-size: 12px;
  }
}
