@import "../../layouts/PublicLayout/Variable.scss";

.scrollTop {
  display: none;
  position: fixed;
  background: lightgray;
  width: 41px;
  height: 38px;
  bottom: 55px;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
  // right: 20px;
  right: 6px;
  border-radius: 9px;
  z-index: 10;

  @include breakpoint(md) {
    right:35px
  }
}

.scroll-shadow {
  display: flex;
}

.scrollTop:hover {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
